/* lg */ 
@media (min-width: 1400px) {
	
}

@media only screen and (max-width:1400px) {
	
}


@media only screen and (max-width:1199px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
.commercial-insurance .single-post {
	margin: 0;
	min-height: 510px;
	padding: 0;
}

.contact-details {
	margin: 0 0 25px;
	overflow: hidden;
	text-align: center;
}

.image-icon.pull-left {
	float: inherit !important;
	margin: 0 auto;
}

.contact-details p {
	display: inline-block;
}

.navbar-default .navbar-nav > li > a {
	font-size: 15px;
}

/* agency-executive */
.feature-executive .row {
	margin-left: -70px;
	margin-right: -70px;
}

.feature-executive .col-sm-3 {
	padding: 0 70px;
}

}

@media only screen and (max-width:991px) {

}

@media only screen and (max-width:1199px) {

}

@media only screen and (max-width:991px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
.navbar-default .navbar-nav > li > a {
	font-size: 15px;
	padding: 7px 5px;
}

.contact-widget {
	margin-bottom: 70px;
}

.footer-widget > img {
	width: 100%;
}

.home-banner-menu ul li {
	padding-left: 150px;
}

.home-banner-menu ul .home {
  background: rgba(0, 0, 0, 0) url("../images/icons/5.png") no-repeat scroll left 40px center;
}

.home-banner-menu ul .home:hover {
	background: url("../images/icons/5.png") no-repeat scroll left 40px center #cb752f;
}

.home-banner-menu ul .auto {
	background: rgba(0, 0, 0, 0) url("../images/icons/6.png") no-repeat scroll left 30px center;
	padding-left: 150px;
}

.home-banner-menu ul .auto:hover {
	background:  #cb752f url("../images/icons/6.png") no-repeat scroll left 30px center;
}

.home-banner-menu ul .commercial {
	background: rgba(0, 0, 0, 0) url("../images/icons/7.png") no-repeat scroll left 20px center;
	padding-left: 110px;
}

.home-banner-menu ul .commercial:hover {
	background: #cb752f url("../images/icons/7.png") no-repeat scroll left 20px center;
}

.single-post .col-sm-4 img, .col-sm-4 .single-post img {
	min-height: 200px;
}

.auto-banner {
	padding-top: 30px;
}

.insurance-banner-menu li a {
	font-size: 12px !important;
}

.commercial-insurance .single-post {
	margin: 0;
	min-height: 550px;
	padding: 0;
}

.content-sidebar h4 {
	display: inline-block;
}

.blgo-archive .blog-archive-right {
	float: left;
}

.application-form p {
	font-size: 13px;
}

.benefits li {
	margin-bottom: 15px;
	width: 33%;
}

.contact-details {
	margin: 0 0 25px;
	overflow: hidden;
	text-align: center;
}

.image-icon.pull-left {
	float: inherit !important;
	margin: 0 auto;
}

.contact-details p {
	display: inline-block;
}

/* agency-executive */
.feature-executive .row {
	margin-left: -30px;
	margin-right: -30px;
}

.feature-executive .col-sm-3 {
	padding: 0 30px;
}


}

@media only screen and (min-width:768px) {

}

/* xs */
@media only screen and (max-width:767px) {
.footer-widget {
	margin-bottom: 30px;
}

.footer-widget > img {
	width: 100%;
	height: 60%;
}

.footer-menu {
	padding-left: 15px;
}

#scrollUp {
	height: 30px;
	width: 30px;
}

.clients {
	padding: 20px 0;
}

.client-image {
	margin-bottom: 10px;
}

.guaranteed {
	display: block;
}

.home-banner-menu ul li {
	padding-left: 98px;
}

.home-banner-menu ul .home {
	background: rgba(0, 0, 0, 0) url("../images/icons/5.png") no-repeat scroll left 10px center;
}

.home-banner-menu ul .home:hover {
	background: url("../images/icons/5.png") no-repeat scroll left 10px center #cb752f;
}

.home-banner-menu ul .auto {
	background: rgba(0, 0, 0, 0) url("../images/icons/6.png") no-repeat scroll left 10px center;
	padding-left: 120px;
}

.home-banner-menu ul .auto:hover {
	background:  #cb752f url("../images/icons/6.png") no-repeat scroll left 10px center;
}

.home-banner-menu ul .commercial {
	background: rgba(0, 0, 0, 0) url("../images/icons/7.png") no-repeat scroll left 0 center;
	padding-left: 76px;
}

.home-banner-menu ul .commercial:hover {
	background: #cb752f url("../images/icons/7.png") no-repeat scroll left 0px center;
}

.feature {
	margin-bottom: 20px;
}

.testimonail-image {
	display: block;
	margin: 0 auto 20px;
}

.single-testimonial p,
.single-testimonial h3 {
	text-align: center;
}

.single-agency {
	margin-bottom: 30px;
	text-align: center;
}

.agency {
	padding-bottom: 15px;
}

.single-post img {
	margin-bottom: 30px;
	width: 100%;
}

.commercial-insurance .single-post {
	display: inline;
}

.insurance .single-post {
	text-align: center;
}

.insurance .single-post img {
	width: inherit;
}

.auto-banner {
	padding-top: 30px;
}

.insurance-banner-menu li a {
	font-size: 12px !important;
}

.content-sidebar {
	text-align: center;
}

.content-sidebar-image {
	float: inherit !important;
	margin: 0 auto 20px;
}

.home-insurance-banner-menu li a {
	font-size: 10px !important;
}

.blgo-archive .blog-archive-right {
	float: left;
}

.benefits {
	margin: 43px 0 0 15px;
}

.benefits li {
	margin-bottom: 15px;
	width: 49%;
}

.contact-details {
	margin: 0 0 25px;
	overflow: hidden;
	text-align: center;
}

.image-icon.pull-left {
	float: inherit !important;
	margin: 0 auto;
}

.contact-details p {
	display: inline-block;
}

.contact-us .content > h2 {
	text-align: center;
}

.navbar-default .navbar-toggle {
	border-color: #f0862d;
	margin-left: 20px;
	margin-top: 2px;
	z-index: 999;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
	background: #f0862d;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #f0862d;
}

.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

.navbar-nav.navbar-right {
	padding-left: 15px;
}

.navbar-collapse.np.collapse.in {
	border: 0 none;
}

/* agency-executive */
.agency-executive .single-agency .agency-content h3 {
	margin-bottom: 30px;
	margin-top: 15px;
}

.agency-executive h2 {
	margin: 0 0 60px;
}

.agency-executive .single-agency .agency-profile {
	float: inherit;
}

.single-feature-executive img {
	width: inherit;
}

.single-feature-executive p {
	margin-bottom: 30px;
	margin-top: 10px;
}


}

@media only screen and (max-width:600px) {
.banner-menu {
  line-height: inherit;
  min-height: inherit;
}

.home-banner-menu ul li {
	padding: 15px 0;
	width: 100%;
}

.home-banner-menu ul .home {
	background: rgba(0, 0, 0, 0) url("../images/icons/5.png") no-repeat scroll left 20px center;
	padding-left: 150px;
}

.home-banner-menu ul .home:hover {
	background: #cb752f url("../images/icons/5.png") no-repeat scroll left 20px center;
}

.home-banner-menu ul .auto {
	background: rgba(0, 0, 0, 0) url("../images/icons/6.png") no-repeat scroll left 20px center;
	padding-left: 150px;
}

.home-banner-menu ul .auto:hover {
	background: #cb752f url("../images/icons/6.png") no-repeat scroll left 20px center;
}

.home-banner-menu ul .commercial {
	background: rgba(0, 0, 0, 0) url("../images/icons/7.png") no-repeat scroll left 20px center;
	padding-left: 150px;
}

.home-banner-menu ul .commercial:hover {
	background: #cb752f url("../images/icons/7.png") no-repeat scroll left 20px center;
}

.home-banner {
	padding-top: 250px;
}

.home-banner .banner-title {
	margin: 0 0 55px;
}

.home-banner h3 {
	font-size: 34px;
	margin-bottom: 15px;
}

.home-banner  h1 {
	font-size: 34px;
	line-height: 38px;
}

.about-banner {
	padding: 60px 0;
}

.testimonials {
	padding-bottom: 65px;
}

.single-testimonial {
	padding-bottom: 5px;
}

.auto-banner {
	padding-bottom: 145px;
}

.auto-insurance-banner-menu li {
	border: 0 none;
	padding: 3px 0;
	width: 100%;
}

.home-insurance-banner-menu li {
	padding: 5px;
	width: 100%;
	border: 0;
}
.home-insurance-banner-menu li:last-child {
	border: 0;
}

.home-insurance-banner-menu li a {
	font-size: 12px !important;
}

.home-insurance-banner {
	padding-bottom: 190px;
}

.benefits li {
	margin-bottom: 15px;
	width: 49%;
}


}


@media only screen and (max-width:568px) {

}


@media only screen and (max-width:480px) {
.benefits li {
	margin-bottom: 10px;
	width: 100%;
}

}

@media only screen and (max-width:320px) {

}