@import 'https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Lato|Open+Sans:300,400,600,700';

/*
	Template Name: Florida Insurance
	Description: HTML Multy page Template for Florida
	Version: 1.0
	Author: Mahmud Hasan
	Author URI : http://www.mahmudhasan.me/
	Tags: HTML5, CSS3, jQuery, Responsive Template.
*/



/* Table of Contents
==================================================
# Global
# Header
# Home
# Executive Board
# What We Do
# Contact Infos
# Contact Form
# Membership
# Events
# Contact Us
# Footer
# Extra
# Fonts CSS

*/

/* ==========================================================================
    Global
 ========================================================================== */
* {
	font-family: 'Open Sans', sans-serif;
}

html,
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #575757;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 40px;
	line-height: 48px;
	color: #fff;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	color: #403d3e;
}

h3 {
	font-size: 20px;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	font-weight: 600;
}

a, p, button, li, time {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	margin:0;
	padding:0;
}

li {
	list-style:none;
}

a {
	color: #231f20;
	text-decoration: none;
}

a:hover, 
a:focus {
	color: #231f20;
	text-decoration: none;
	outline: none;
}

p {
	line-height: 24px;
	font-size: 14px;
	color: #575757;
}

section {
    position: relative;
    padding: 40px 0;
    min-width: 100%;
    width: 100%;
}

.btn:focus,
input, textarea,
button, button:focus,
button.close:focus,
input:focus, textarea:focus {
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

strong {
	font-weight: 700;
}

.form-control, input, textarea, select,
.form-control:focus, input:focus, textarea:focus, select:focus {
	border-color: inherit;
	box-shadow: none;
	outline: none;
}

.np {
	padding: 0 !important;
}

.nrlp { 
	padding-left: 0 !important;
	padding-right:0 !important;
}

.nrp {
	padding-right: 0 !important;
}

.nlp {
	padding-left: 0 !important;
}

.ntp {
	padding-top: 0 !important;
}

.nbp {
	padding-bottom: 0 !important;
}

.padding-top {
	padding-top: 80px;
}

.padding-bottom {
	padding-bottom: 80px;
}

.nm {
	margin: 0 !important;
}

.nlm {
	margin-left: 0 !important;
}

.nrm {
	margin-right: 0 !important;
}

.ntm {
	margin-top: 0 !important;
}

.nbm {
	margin-bottom: 0 !important;
}

.btn {
    border: none;
    background-color: #f0862d;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    text-align: center;
    width: 100%;
    max-width: 200px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
}

.btn:hover,
.btn:focus {
	color: #fff;
	background-color: #403d3e;
}

.pt-20 {
	margin-top: 20px;
}

.pb-20 {
	padding-bottom:20px;
}

.ptb-20 {
	padding-bottom:20px;
	padding-top:20px;
}

.title, .title p {
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

input, select, textarea {
	width: 100%;
	border: 1px solid #d4d4d4;
	background-color: transparent;
	margin-bottom: 10px;
	border-radius: 0;
	height: 40px;
	padding: 5px 10px;
	color: #403d3e;
	font-size: 18px;
	line-height: 40px;
}

textarea {
	min-height: 115px;
	margin-bottom: 15px;
}

input:focus, select:focus, textarea:focus {
	border-color: #f0862d;
}

input[type="submit"] {
	background-color: #f0862d;
	border: 1px solid #f0862d;
	height: 37px;
	width: 100%;
	max-width: 260px;
	font-size: 20px;
	color: #fff;
	padding: 0;
}

input[type="submit"]:hover {
	background-color: #fff;
	border-color: #fff;
	color: #f4912d;
}

label.checkbox,
label.radio {
	display: block;
	margin: 0;
	padding-left: 20px;
	font-size: 14px;
	color: #403d3e;
	font-weight: 400;
}

input[type="radio"] {
	display: none;
	height: 0;
	margin: 0 !important;
	visibility: hidden;
	width: 0;
}

input[type="radio"] + label {
	margin: 0 0 8px;
	padding-left: 24px;
	position: relative;
}

input[type="radio"] + label:before {
	position: absolute;
	content: "";
	background: #fff;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px solid #d4d4d4;
}

input[type="radio"]:checked + label:before {
	background: #f0862d;
	border: 0;
}

.checkbox + .checkbox, .radio + .radio {
	margin-top: inherit !important;
}


/* ==========================================================================
    Header
 ========================================================================== */
.header {
	background: #231f20;
}

.home-header {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-top a {
    color: #fff;
    font-size: 16px;
    line-height: 36px;
    height: 36px;
    margin-left: 7px;
    display: inline-block;
    font-weight: 600;
    margin-top: -1px;
    border: 0;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.header-top .login {
    font-size: 14px;
    background: url(images/icons/1.png) no-repeat scroll left center;
    padding-left: 25px;
}

.header-top .phone-number {
	max-width: 230px;
	color: #231f20;
	background: #fff;
}
.header-top .quote {
	background: #f0862d;
	max-width: 133px;
}

.logo {
	display: inline-block;
	position: absolute;
	top: -40px;
}

.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
    border: 0;
    border-radius: 0;
    margin: 9px 0 0;
    padding: 0;
    height: inherit;
}

.home-header .navbar-default .row {
    border-bottom: 1px solid #978178;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 8px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #f0862d;
    border-radius: 5px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #f0862d;
    border-radius: 5px;
}

/* sub-menu */
.has-sub-menu > a {
	position: relative;
}

.has-sub-menu > a:before {
    position: absolute;
    content: "";
    top: 20px;
    right: -2px;
    width: 8px;
    height: 6px;
}

.sub-menu {
	background: #231f20 none repeat scroll 0 0;
	display: inline-block;
	left: 0;
	min-width: 170px;
	opacity: 0;
	padding: 0;
	position: absolute;
	top: 60px;
	visibility: hidden;
	z-index: 9999;
}

.has-sub-menu:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	top: 100%;
}

.sub-menu li {
    padding: 0;
}

.sub-menu li a {
	position: relative;
	display: block;
}

.sub-menu li a:before {
	position: absolute;
	content: "";
	top: 50%;
	right: 10px;
	width: 7px;
	height: 12px;
	margin-top: -6px;
}

.sub-menu li:hover a {
	color: #fff;
	background: #403d3e;
}

.sub-menu li:first-child {
	border-top: none;
}

.sub-menu li:last-child {
	border-bottom: none;
}

.sub-menu li a {
    font-size: 16px;
    color: #fff;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

.header-search input[type="text"] {
    background: #d7d7d7;
    border: 0;
    height: 35px;
    max-width: 250px;
}

/* ==========================================================================
    page-title
 ========================================================================== */
.page-title {
	background: #f0862d none repeat scroll 0 0;
	padding: 22px 0 23px;
}

.page-title h3 {
	margin: 0;
	font-size: 21px;
	color: #fff;
	position: relative;
	text-transform: uppercase;
	padding-left: 17px;
}

.page-title h3:before {
	position: absolute;
	content: "»";
	left: 0;
	top: -1px;
}

/* ==========================================================================
    banner
 ========================================================================== */
.banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.home-banner {
	background-image: url("images/banner/1.jpg");
	padding: 326px 0 157px;
}

.insurance-banner {
	background-image: url("images/banner/2.jpg");
	padding: 76px 0 56px;
}

.home-insurance-banner {
	background-image: url("images/banner/7.jpg");
	padding: 42px 0 89px;
}

.contact-banner {
	background-image: url("images/banner/5.jpg");
	padding: 200px;
}

.auto-banner {
	background-image: url("images/banner/3.jpg");
	padding: 79px 0 98px;
}

.commercial-banner {
	background-image: url("images/banner/4.jpg");
	padding: 75px 0 89px;
}

.careers-banner {
	background-image: url("images/banner/6.jpg");
	padding: 83px 0 69px;
}

.banner h1 {
	font-size: 43px;
	font-weight: 600;
	line-height: 33px;
	margin-top: 2px;
	padding: 0 45px;
}

.banner h3 {
	font-size: 40px;
	color: #fff;
	font-weight: 400;
}

.banner h4 {
	color: #403d3e;
	font-size: 21px;
	font-weight: 600;
	line-height: 31px;
	margin-bottom: 15px;
}

.banner p {
	font-size: 16px;
	color: #302929;
	line-height: 26px;
}

.banner-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(43,44,61,.50);
    min-height: 106px;
    line-height: 106px;
}

.banner-menu ul {

}

.banner-menu ul li {
	float: left;
	cursor: pointer;
}

.home-banner-menu ul li {
    width: 33%;  
    padding-left: 200px;
}

.home-banner-menu ul .home {
	background: url(images/icons/5.png) no-repeat scroll left 105px center;
}

.home-banner-menu ul .home:hover {
	background: url(images/icons/5.png) no-repeat scroll left 105px center #cb752f;
}

.home-banner-menu ul .auto {
	background: rgba(0, 0, 0, 0) url("images/icons/6.png") no-repeat scroll left 90px center;
	padding-left: 218px;
}

.home-banner-menu ul .auto:hover {
	background: url(images/icons/6.png) no-repeat scroll left 90px center #cb752f;
}

.home-banner-menu ul .commercial {
	background: rgba(0, 0, 0, 0) url("images/icons/7.png") no-repeat scroll left 68px center;
	padding-left: 167px;
}

.home-banner-menu ul .commercial:hover {
	background: url(images/icons/7.png) no-repeat scroll left 68px center #cb752f;
}

.banner-menu ul li:hover {
	background: #cb752f;
}

.banner-menu ul li a {
	color: #fff;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}

.careers-banner p {
	color: #231f20;
	margin: 0 0 29px;
}

.claims-banner {
	background-image: url(images/banner/8.jpg);
	padding: 109px 0px 139px;
}

.claims-banner h2 {
	font-size: 30px;
	line-height: 18px;
}


.claims-banner .banner-title {
    padding-left: 30px;
    padding-right: 10px;
}

.claims-banner p {
    font-size: 30px;
    line-height: 38px;
}

.about-banner {
	background-image: url(images/banner/9.jpg);
	padding: 103px 0px 135px;
}

.about-banner h2 {
	font-weight: 400;
	font-size: 30px;
	line-height: 38px;
}

.about-banner .banner-title {
	padding-left: 37px;
	padding-right: 10px;
}

/* ==========================================================================
    main
 ========================================================================== */
.main {
	padding: 51px 0 27px;
}

.main p {
	margin-bottom: 24px;
}

.home-section h2 {
    padding: 0 0 0 20px;
    margin-bottom: 28px;
}

.home-section blockquote {
    padding: 0 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 2px solid #dcdcdc;
    font-size: 14px;
}

.main h2, .main h3 {
	margin-top: 0;
}

/* content */
.content h3 {
	color: #403d3e;
	font-size: 21px;
	margin-bottom: 7px;
}

.alert-content p {
	color: #403d3e;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 11px;
}

.single-post {	
    display: inline-block;
    margin-bottom: 8px;
    padding: 22px 0 20px;
}

.col-sm-12 + .col-sm-12 .single-post {
	border-top: 1px solid #fce7d5;
}

.commercial--insurance .single-post {
    min-height: 450px;
    padding: 0;
}

.home-section .single-post:hover {
	background: #f9f9f9;
}

.btn-readmore {
	max-width: 111px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	border-radius: 3px;
}

.single-post .col-sm-4 img, .col-sm-4 .single-post img {
	min-height: 260px;
}

.arrow li {
	background: rgba(0, 0, 0, 0) url("images/icons/9.png") no-repeat scroll left top 7px;
	padding-left: 37px;
	font-size: 18px;
	line-height: 28px;
	color: #231f20;
}

.arrow h3 {
	color: #231f20;
	display: inline-block;
	font-size: 21px;
	font-weight: 600;
	margin: 7px 0 31px;
}

.arrow li p span {
	display: block;
	font-weight: 600;
}

.single-post .arrow li {
	background: rgba(0, 0, 0, 0) url("images/icons/8.png") no-repeat scroll left top 7px;
}

.single-post .arrow li, .single-post .arrow li p {
	font-size: 14px;
	color: #575757;
}

.single-post .arrow li span {
	font-weight: 600;
}

/* ==========================================================================
    Sidebar
 ========================================================================== */
.sidebar h3 {
	color: #403d3e;
}

.guaranteed {
	display: inline-block;
	margin: 26px 0 30px;
}

.guaranteed h2 {
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #f0862d;
	border-top: 1px solid #f0862d;
	font-weight: 700;
	letter-spacing: 3px;
	margin: 0 auto;
	padding: 16px 0 !important;
	position: relative;
	text-transform: uppercase;
	width: 222px;
}

.guaranteed h2:before {
	background: #f0862d none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 4px;
	width: 100%;
}

.guaranteed h2::after {
	background: #f0862d none repeat scroll 0 0;
	bottom: 4px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
}

.promotion-widget img {
	margin-bottom: 36px;
}

.promotion-widget h2 {
	font-size: 23px;
	font-style: italic;
	font-weight: 600;
	color: #403d3e;
}

.promotion-widget a.btn {
	margin: 10px 2px;
}

.btn-auto {
	background: #403d3e;
}

.btn-auto:hover, .btn-home:hover {
	background: #78a400;
}

.content-sidebar {
	margin: 0 0 40px;
}

.content-sidebar-image {
    margin-bottom: 15px;
    margin-right: 10px;
    width: 70px;
    min-height: 45px;
}

.content-sidebar-image img {
	width: 100%;
}

.content-sidebar h4 {
  color: #403d3e;
  font-size: 17px;
}

.content-sidebar p {
	display: inline-block;
	margin-bottom: 9px;
}

/* ==========================================================================
    clients
 ========================================================================== */
.clients {
	background: #f4f4f5;
	padding: 40px 0 44px;
}

.client-image {
    position: relative;
    min-height: 80px;
}

.client-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* ==========================================================================
    disclaimer
 ========================================================================== */
.disclaimer {
	background: #e6e9ec;
	padding: 22px 0;
}

.disclaimer h3 {
	color: #403d3e;
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 4px;
}

.disclaimer p {
	color: #403d3e;
	margin: 0;
}

/* ==========================================================================
    Contact us
 ========================================================================== */
.contact-us {
	padding-bottom: 49px;
}

.contact-us h2 {
	margin-bottom: 45px;
}

.contact-us h4 {
	margin-bottom: 28px;
}

.contact-us p {
	margin-bottom: 15px;
}

.contact-details {
	margin: 0 0 60px;
	overflow: hidden;
}

.contact-details p {
	font-size: 16px;
	line-height: 26px;
	padding-top: 5px;
}

.image-icon {
	background: #f4f4f5;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	position: relative;
}

.image-icon.pull-left {
	margin-right: 15px;
}

.image-icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.arrow-left {
	display: inline-block;
	padding-left: 12px;
	position: relative;
}

.arrow-left:before {
	position: absolute;
	content: "»";
	left: 0;
	top: 0;
}

.contact-sidebar h3 {
	color: #f0862d;
	font-size: 20px;
	margin: 0 0 26px;
}

.contact-sidebar .capta-image {
	height: 67px;
	border: 1px solid #d4d4d4;
	overflow: hidden;
}

.contact-sidebar .capta-image img {
	height: 100%;
	width: 100%;
}

.contact-sidebar input[type="submit"] {
	border-radius: 3px;
	font-size: 15px;
	font-weight: 700;
	height: 48px;
	line-height: 48px;
	margin: 23px 0 0;
	max-width: 147px;
	text-transform: uppercase;
}

.contact-sidebar input[type="submit"]:hover {
	background: #403d3e;
	color: #fff;
}

/* ==========================================================================
    insurance
 ========================================================================== */
.insurance {
	padding: 26px 0 27px;
}

.insurance .single-post {
	padding: 22px 0 9px;
}

.insurance .single-post:hover {
	background: #f9f9f9;
}

 .insurance .content .single-post p {
	margin-bottom: 12px;
}

.insurance .sidebar {
	margin-top: 89px;
}

/* ==========================================================================
    home-insurance
 ========================================================================== */
.home-insurance-banner .arrow li {
	font-size: 16px;
	line-height: 26px;
	margin: 0 0 18px;
}

.insurance-banner-menu {
	line-height: 76px;
	min-height: 76px;
	background: rgba(64,61,62,.70);
}

.insurance-banner-menu li {
	border-left: 1px solid #919090;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 20%;
}

.insurance-banner-menu li a {
	font-size: 14px !important;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}

.insurance-banner-menu li:last-child {
	border-right: 1px solid #919090;
}

.insurance-banner-menu li:hover {
	border: 0;
}

.insurance-banner-menu li:hover + li {
	border-left: 0;
}

.home-insurance-banner-menu li {
	width: 16%;
}

.home-insurance {
	padding-bottom: 49px;
}

.home-insurance .single-post, .auto-insurance .single-post {
	margin-bottom: 17px;
	padding: 0;
}

.home-insurance .single-post p:last-child, .auto-insurance .single-post p:last-child {
	margin-bottom: 0;
}

.home-insurance .col-sm-12 + .col-sm-12 .single-post, .auto-insurance .col-sm-12 + .col-sm-12 .single-post {
	padding-top: 20px;
}

/* ==========================================================================
    auto-insurance
 ========================================================================== */
.auto-insurance .single-post p {
	margin-bottom: 12px;
}

.auto-insurance .arrow li {
	margin-bottom: 12px;
}

/* ==========================================================================
    commercial-insurance
 ========================================================================== */
.commercial-insurance {
	padding-bottom: 0;
}

.commercial-insurance .single-post {
	margin: 0;
	min-height: 490px;
	padding: 0;
}

.commercial-insurance .single-post h3 {
	margin: 21px 0 11px;
}

.commercial-insurance .single-post h3,
.commercial-insurance .single-post h3 a {
	color: #403d3e;
	font-size: 21px;
	font-weight: 600;
}

.commercial-insurance .single-post h3 a:hover {
	color: #f0862d;
}

/* ==========================================================================
    careers
 ========================================================================== */
.careers {
	padding: 45px 0 48px;
}

.careers h2 {
	margin-bottom: 37px;
}

.benefits-plan {
	background: #403d3e;
	padding: 27px 0 48px;
}

.benefits-plan h3 {
	color: #fff;
	font-size: 21px;
}

.benefits {
	margin: 43px 0 0;
	padding: 0;
}

.benefits li {
	background: rgba(0, 0, 0, 0) url("images/icons/12.png") no-repeat scroll left top 2px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding-left: 25px;
	vertical-align: top;
	width: 19%;
}

.application-form h3 {
	border-bottom: 1px solid #fce7d5;
	color: #f0862d;
	font-size: 18px;
	margin-bottom: 31px;
	padding-bottom: 10px;
}

.application-form p {
	color: #403d3e;
	margin: 0 0 7px;
	font-size: 14px;
}

.application-form input {
	margin-bottom: 18px;
}

.application-form textarea {
	margin-bottom: 61px;
}

.application-form input[type="submit"] {
	max-width: 200px;
	height: 48px;
	line-height: 48px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	border-radius: 3px;
}

.application-form input[type="submit"]:hover {
	background: #403d3e;
	color: #fff;
}

.styled-select {
	width: 100%;
	height: 40px;
	overflow: hidden;
	position: relative;
	margin-bottom: 18px;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   font-size: 14px;
   line-height: 30px;
   position: relative;
   cursor: pointer;
   z-index: 1;
}

.styled-select::after {
	background: rgba(0, 0, 0, 0) url("images/icons/13.png") no-repeat scroll right 13px center;
	border-left: 1px solid #e5e5e5;
	content: "";
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	z-index: -1;
}

/* ==========================================================================
    Login
 ========================================================================== */
.user-login {
	padding: 20px 0 89px;
}

.user-login .image-icon {
	margin: 0 auto;
	margin-top: 10px;
}

.user-login h2 {
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 700;
	margin: 16px 0 5px;
}

.user-login p {
	font-family: 'Open Sans';
	font-size: 16px;
}

.user-login form input {
	max-width: 401px;
	border-radius: 0;
	border-color: #d4d4d4;
	color: #403d3e;
	font-size: 14px;
	height: 40px;
	display: block;
	margin: 15px auto 0 ;
}

.user-login form input:focus {
	border-color: #f0862d;
}

.user-login form input[type="submit"] {
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	border-radius: 5px;
	text-transform: uppercase;
	border: 1px solid #f0862d;
	height: 48px;
	max-width: 147px;
	margin: 17px auto 15px;
}

.user-login form input[type="submit"]:hover {
	border: 1px solid #f0862d;
	background: transparent;
	color: #f0862d;
}

/* ==========================================================================
    Claims
 ========================================================================== */
.phone-books {
	padding: 52px 0px 27px;
}

.phone-book {
	margin-bottom: 22px;
}

.phone-book h3 {
	color: #f0862d;
	margin: 0px 0px 2px;
	font-weight: 600;
}

.phone-book p,
.phone-book p a {
	color: #231f20;
}

.phone-book p {
	margin: 0px 0px;
}

.phone-book p a:hover {
	color: #f0862d;
}

.phone-book p strong {
	font-family: 'Open Sans';
	font-weight: 600;
}

/* ==========================================================================
    About
 ========================================================================== */
.features {
	padding: 51px 0px 37px;
}

.feature .image-icon {
	height: 135px;
	margin: 0 auto 24px;
	overflow: hidden;
	width: 135px;
}

.feature p {
	margin-top: 23px;
}

/* ==========================================================================
    insurance-help
 ========================================================================== */
.insurance-help {
	background: url(images/bg/2.jpg) no-repeat center center;
	background-size: cover;
	padding: 34px 0 35px;
}

.insurance-help h2 {
	color: #fff;
	margin-bottom: 14px;
}

.insurance-help a {
	background: #f0862d none repeat scroll 0 0;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 36px;
	padding: 9px 20px;
	text-transform: uppercase;
}

.insurance-help .arrow {
	display: inline-block;
	margin: 0 auto;
}

.insurance-help .arrow li {
	background-image: url("images/icons/14.png");
	color: #fff;
	padding-bottom: 12px;
	text-align: left;
}

/* ==========================================================================
    testimonials
 ========================================================================== */
.testimonials {
	background: #f9f9f9;
	padding: 25px 0 49px;
}

.testimonials h2 {
	margin-bottom: 30px;
	margin-top: 0;
}

.single-testimonial {
	display: inline-block;
	padding-bottom: 20px;
}

.single-testimonial h3 {
	color: #403d3e;
	font-size: 14px;
	margin-top: 11px;
}

.testimonail-image {
	width: 112px;
	height: 112px;
	text-align: center;
}

.testimonail-image img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.testimonial .owl-dots {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10%;
}

.testimonial .owl-dot {
    width: 10px;
    height: 10px;
    background: #cccccc;
    float: left;
    margin: 0 3px;
    border-radius: 50%;
}

.testimonial .owl-dot.active {
	background: #f0862d;
}

/* ==========================================================================
    agency
 ========================================================================== */
.agency {
	padding: 40px 0 69px;
}

.agency h2 {
	margin-bottom: 42px;
	margin-top: 0;
}

.single-agency h3 {
	font-size: 21px;
	margin-top: 0;
}

.single-agency h3 span {
	color: #f0862d;
}

.single-agency p {
	margin-bottom: 13px;
}

.agency-social {
	margin-top: 10px;
}

.agency-social li a {
	color: #575757;
}

.agency-social li a:hover {
	color: #f0862d;
}

/* ==========================================================================
    blog
 ========================================================================== */
.blog-title h2 {
	font-weight: 600;
	color: #403d3e;
}

.blog-title p {
	font-size: 18px;
	line-height: 28px;
	color: #302929;
}

.blog-post h3 {
	color: #403d3e;
	font-size: 16px;
	margin-bottom: 5px;
}

.blog-post p i {
	display: inline-block;
	font-size: 12px;
	margin: 4px 0 3px;
}

.blgo-archive {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
	padding: 7px 0;
	margin-bottom: 17px;
}

.blog-post blockquote {
	border-bottom: 1px solid #dcdcdc;
	border-left: 0 none;
	border-top: 1px solid #dcdcdc;
	color: #231f20;
	font-style: italic;
	line-height: 28px;
	padding: 15px 22px;
}

.blgo-archive .date-archive {
	display: inline-block;
}

.no-border-bottom {
	border-bottom: 0;
}

.blgo-archive .date-archive p {
	margin: 0;
}

.blgo-archive .blog-archive-right {
	display: inline-block;
	float: right;
}

.blog-archive-right div {
    float: left;
}

.blgo-archive .zoom-size {
	margin-right: 20px;
}

.blgo-archive .output-archive {
	margin-right: 13px;
}

.blgo-archive .output-archive li {
	border-right: 1px solid #d2d2d2;
	padding: 0 10px;
}

.blgo-archive .output-archive li:first-child {
	border-left: 1px solid #d2d2d2;
}

.recent-post-widget .title h3 {
	font-weight: 700;
	color: #fff;
	font-size: 16px;
	margin: 0;
	background: #403d3e;
	padding: 15px 25px;
	text-transform: uppercase;
	margin-bottom: 22px;
	border-radius: 5px;
}

.single-recent-post {
	margin-bottom: 17px;
	margin-left: 15px;
}

.single-recent-post + .single-recent-post {
	border-top: 1px solid #e0e0e0;
	padding-top: 30px;
}

.single-recent-post img {
	float: left;
	height: 86px;
	width: 86px;
	margin-right: 15px;
}

.recent-post-content .date-archive,
.recent-post-content .date-archive a {
	color: #a5a5a5;
	font-size: 12px;
	line-height: inherit;
}

.recent-post-content .date-archive a:hover {
	color: #f0862d;
}

.recent-post-content h3,
.recent-post-content a {
	color: #231f20;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 14px;
}

.recent-post-content h3:hover a {
	color: #f0862d;
}

.recent-post-content p {
	line-height: 20px;
	margin-bottom: 10px;
}

.recent-post-content a.read-more {
	color: #231f20;
	font-size: 12px;
	font-weight: 600;
	padding-left: 11px;
	position: relative;
	text-transform: uppercase;
}

.recent-post-content a.read-more:hover {
	color: #f0862d;
}

.recent-post-content a.read-more:before {
	position: absolute;
	left: 0;
	top: 0;
	content: "»";
}

/* ==========================================================================
    Footer
 ========================================================================== */
footer {
	color: #fff;
}

footer p, footer a {
	color: #fff;
}

footer a:hover {
	color: #f0862d;
}

.footer-top {
	background: #403d3e none repeat scroll 0 0;
	padding: 30px 0 16px;
}

.footer-widget img {
	border-radius: 2px;
}

.contact-info {
	border-bottom: 1px solid #757374;
	padding: 15px 0 0 36px;
}

.contact-info p {
	margin: 0 0 9px;
	line-height: 22px;
}

.contact-address {
	background: rgba(0, 0, 0, 0) url("images/icons/2.png") no-repeat scroll left top;
	padding: 3px 0 0 37px;
}

.contact-number {
	background: rgba(0, 0, 0, 0) url("images/icons/3.png") no-repeat scroll left top 9px;
	padding-top: 12px;
}

.contact-email {
	background: rgba(0, 0, 0, 0) url("images/icons/4.png") no-repeat scroll left top 18px;
	padding-bottom: 14px;
}

.contact-info h3 {
	margin-top: 0;
}

.social {
	margin: 11px 0 0;
}

.social p {
	float: left;
}

.social i {
	font-size: 18px;
}

.footer-menu {
	border-bottom: 1px solid #757374;
	padding-bottom: 10px;
}

.footer-menu li {
	margin-bottom: 10px;
	padding-left: 12px;
	position: relative;
	width: 49%;
}

.footer-menu li:hover {
	padding-left: 16px;
}

.footer-menu li:before {
	position: absolute;
	width: 8px;
	height: 8px;
	content: "»";
	left: 0;
	top: 0;
}

.live-chat {
	margin: 13px 0 0;
}

.live-chat img {
	float: left;
	margin-right: 7px;
	border-radius: 2px;
}

.live-chat p {
	line-height: 20px;
}

.footer-bottom {
	background: #231f20 none repeat scroll 0 0;
	padding: 14px 0 12px;
}

.footer-bottom p {
	font-size: 13px;
	margin: 0;
}

/* ==========================================================================
    Extra
 ========================================================================== */
/* scroll to top Image style */
#scrollUp {
	bottom: 20px;
	right: 20px;
	height:50px;  /* Height of image */
	width:50px; /* Width of image */
	background: url(images/top.png) no-repeat center center #f0862d;
	text-indent:-99999px;
	opacity: 1;
}

.transition, a, input, textarea, .btn, li, .sub-menu, label, input[type="file"]::before, input[type="radio"] + label:before, label.checkbox:before {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}


/* ==========================================================================
    Fonts CSS
 ========================================================================== */


/* ==========================================================================
    agency-executive
 ========================================================================== */
.agency-executive {
	padding: 36px 0 86px;
}

.agency-executive h2 {
  margin: 0 0 89px;
}

.agency-executive .single-agency {
	display: inline-block;
	margin-bottom: 61px;
}

.agency-executive .single-agency .agency-profile {
	float: right;
}

.agency-executive .single-agency .agency-content {
	overflow: hidden;
}

.agency-executive .single-agency .agency-content h3 {
	font-size: 22px;
	margin-bottom: 15px;
}

.agency-executive .single-agency .agency-content p {
	font-size: 16px;
}

.agency-executive .single-agency img {
    max-height: 222px;
}

.agency-executive .agency-social {
	margin-top: 6px;
}

.agency-executive .agency-social li a {
	font-size: 23px;
	line-height: 23px;
}

/* ==========================================================================
    feature-executive
 ========================================================================== */
.feature-executive {
	background: #f9f9f9 none repeat scroll 0 0;
	padding: 49px 0 37px;
}

.feature-executive .row {
	margin-left: -85px;
	margin-right: -85px;
}

.feature-executive .col-sm-3 {
	padding: 0 85px;
}

.single-feature-executive {
	text-align: center;
}

.single-feature-executive p {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	margin-top: 35px;
}

.single-feature-executive img {
	width: 100%;
}
